{% extends 'base.html' %}



{% block content %}
<body>
<div class="container">
    <main>
        <div class="py-5 text-center">
            <h2>Todocreate</h2>
            <p class="lead">やることを入力してください。</p>
        </div>
        <button type="button" class="btn-close" aria-label="Close"  style="position: relative; left: 350px; top: 0px;" onclick="location.href='{% url 'today' %}'"></button>
        <form action="" method="POST">{% csrf_token %}
            <div class="col-md-6">
                <h3><label for="formGroupExampleInput" class="form-label">title</label></h3>
            </div>
            <div class="col-md-6">
                {{ form.title }}
            </div>
            
            <div class="col-md-6">
                <h3><label for="formGroupExampleInput2" class="form-label">text</label></h3>
            </div>

            <div class="col-md-6">
                {{ form.text }}
            </div>
            <div class="col-md-6">
                <h3><label for="formGroupExampleInput2" class="form-label">date</label></h3>
            </div>
            <div class="col-md-6">
                {{ form.created_date }}
            </div>
            <hr class="my-5" style="width:300px;">
            <button class="w-30 btn btn-outline-secondary btn-lg" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
                create
            </button>
            <!-- <a href="{% url 'list' %}" class="btn btn-primary btn-lg" role="button" data-bs-toggle="button">listに戻る</a> -->
            <!-- <input type="submit" value="create"> -->
        </form>
    </main>
</div>
</body>    
{% endblock content %}