<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  


    {% block customcss %}
    {% endblock customcss %}

    {% block customjs %}
    {% endblock customjs %}
    <title>todo</title>
  </head>

  <div class="container">
    <div style="text-align: right">
    <a href="{% url 'logout' %}" class="btn btn-outline-secondary " tabindex="-1" role="button" aria-disabled="true">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-door-open" viewBox="0 0 16 16">
          <path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
          <path d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117zM11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5zM4 1.934V15h6V1.077l-6 .857z"/>
      </svg>
      Logout
    </a>
  </div>
        <div class="bg-light p-3 p-sm-5 my-4 rounded">
        <h1 class="display-4">ToDoリスト</h1>
        <hr class="my-4">
        <div style="text-align: right">
        <h4>{% now "Y/m/d (D)" %}</h4>
        <h4><u><div id="clock-01"></div></u></h4>
        </div>
        <h4 style="font-style: italic">Time is money.</h4>
        </div>
    </div>
    {% block header %}
    {% endblock header %}
    <div class="container">
 
        <hr class="my-4">
        {% block content %}
        {% endblock content %}

  
        {% for item in object_list %}
          <li class="list-group-item">
            <div class="row mb-0">
              <div class="col-md-1 themed-grid-col">
                <a href="{% url 'done' item.pk %}" class="btn btn-light w-68" tabindex="-1" role="button" aria-disabled="true" title="タスク完了">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
                      <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                      <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/>
                  </svg>
                </a>
              </div>
              <div class="col-md-11 themed-grid-col">
                <a href="{% url 'detail' item.pk %}" class="btn btn-light w-75" tabindex="-1" role="button" aria-disabled="true" style="text-align: left">{{item.title}}</a>
              </div>
            </div>
          </li>
        {% endfor %} 
       <div style="text-align: right">
        <a href="{% url 'create' %}" class="btn btn-light " tabindex="-1" role="button" aria-disabled="true" title="新規作成">
          <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
              <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
              <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg>
          新規作成
      </a>
    </div>
        <hr class="my-5">
        <div style="text-align: right"> 
        <a href="{% url 'todotoday' %}" class="btn btn-light " tabindex="-1" role="button" aria-disabled="true" title="今日やることをメール送信">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
              <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
          </svg>
          今日のタスクをメールで送信
        </a>
        </div>            
    </div> 
</html>


